<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="musicBean"
          class="org.titov.spring.MusicFolder.GoodMusic">
    </bean>
    <bean id="musicBean1"
          class="org.titov.spring.MusicFolder.BadMusic">
    </bean>
    <bean id="musicPlayer"
          class="org.titov.spring.MusicFolder.MusicPlayer">
        <constructor-arg ref="musicBean"/>
    </bean>

    <bean id="testBean"
          class="org.titov.spring.TestBean">
        <constructor-arg name="filename" value="questions_ru.csv"/>
    </bean>
    <bean id="quizBean"
          class="org.titov.spring.Quiz">
        <constructor-arg name="test" ref="testBean"/>
    </bean>
</beans>